.TangoDaimei{
    margin-left:30px;
    font-size: 80px;
}

.cardSize{
    width: 200px;
    height: 650px;
    transform: rotate(90deg);
}

.cardPlace{
    margin-left: 300px;
    margin-top:-250px;
    width: 300px;
    height:200px;
    position: relative;
}

.TangoTop{
    position: relative;
}

.cardPlace p{
    position: absolute;
    color:black;
    top:32%;
    left:-50%;
    font-size: 60px;
}

.NextButton1{
    position: absolute;
    margin-top: -200px;
    margin-left:-200px;
    font-size: 20px;
    height:100px;
    width: 200px;
}
.NextButton2{
    position: absolute;
    margin-top: -200px;
    margin-left:20px;
    font-size: 20px;
    height:100px;
    width: 200px;
}
.NextButton3{
    position: absolute;
    margin-top: -200px;
    margin-left:240px;
    font-size: 20px;
    height:100px;
    width: 200px;
}

.seikai{
    position: absolute;
    top:100px;
    left:300px;
}