.TangoDaimei{
    margin-left:30px;
    font-size: 80px;
}

.cardSize{
    width: 200px;
    height: 650px;
    transform: rotate(90deg);
}

.cardPlace{
    margin-left: 300px;
    margin-top:-250px;
    width: 300px;
    height:200px;
    position: relative;
}

.TangoTop{
    position: relative;
}

.cardPlace p{
    position: absolute;
    color:black;
    top:32%;
    left:-50%;
    font-size: 60px;
}

.NextButton{
    position: absolute;
    margin-top: -200px;
    margin-left:-60px;
    font-size: 50px;
    height:80px;
    width: 300px;
}